.ExcProp {
  display: flex;
  flex-direction: column;
}

.App {
  width: 99vw;
  height: 90vh;
}
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  min-width: 10em; 
  min-height: 1em;
}
.textarea[contenteditable]:empty::before {
  content: "exercise property";
  color: gray;
}
.ExcTable tr {
  border: solid;
}
.ExcTable th {
  border: solid;
}
.ExcTable td {
  border: solid;
}
.ExcPropUI {
  display: grid;
  grid-template-areas:
    "AddTitle Titles Titles"
    "tableSample tableSample tableSample"
    "AddRow AddRow AddRow";
  width: fit-content;
  float: right;
}

.Titles {
  grid-area: Titles;
  display: flex;
  flex-direction: row;
}

.AddTitle {
  grid-area: AddTitle;
}

.AddRow {
  grid-area: AddRow;
}
.AddRow button{
  width: 100%;
}
.tableSample {
  grid-area: tableSample;
  display: flex;
  flex-direction: column;
}
